{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-center mt-5">
    <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
      <h5 class="text-center mb-3">Вход</h5>

      {% if form.errors %}
        <div class="alert alert-danger py-1">
          Неверный логин или пароль
        </div>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        <div>
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <div>
          {{ form.password.label_tag }}
          {{ form.password }}
        </div>
        {% if next %}
          <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        <button type="submit">Войти</button>
      </form>
        <button> <a href="{% url 'password_reset' %}">Забыли пароль?</a> </button>
    </div>
  </div>
{% endblock %}
