{% extends "base.html" %}

{% block content %}
    <h2>Установить новый пароль</h2>

    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить новый пароль</button>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, потому что она уже была использована.
           Пожалуйста, запросите новый сброс пароля.</p>
        <a href="{% url 'password_reset' %}">Запросить новый сброс пароля</a>
    {% endif %}
{% endblock %}